In [56]:
# Importing Libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Importing the data set
X = pd.read_csv("train.csv").iloc[:,:-1]
y = pd.read_csv("train.csv").iloc[:,-1]
X["Joke_identifier"]

0          Klint De Drunk Enugu 1
1          Klint De Drunk Enugu 2
2             Klint De Drunk PH 1
3             Klint De Drunk PH 2
4          Klint De Drunk Lagos 1
5          Klint De Drunk Lagos 2
6          Klint De Drunk Lagos 3
7         Klint De Drunk Warri 1
8                 AliBaba Lagos 2
9              AliBaba Aso Rock 2
10                AliBaba Abuja 2
11                   AliBaba PH 1
12                   AliBaba PH 4
13                   AliBaba PH 5
14            BasketMouth Lagos 1
15            BasketMouth Abuja 3
16                     AY Lagos 4
17                     AY Abuja 3
18                     AY Warri 1
19                     AY Warri 2
20                   Bovi Lagos 3
21                   Bovi Lagos 4
22                   Bovi Abuja 4
23               Akpororo Warri 2
24            Klint De Drunk PH 1
25            Klint De Drunk PH 2
26         Klint De Drunk Lagos 2
27         Klint De Drunk Lagos 3
28        Klint De Drunk Warri 1
29         Klint De Drunk Warri 2
                   ...
612672     Klint De Drunk Lagos 1
612673     Klint De Drunk Lagos 2
612674               AliBaba PH 2
612675                 AY Warri 1
612676               Bovi Abuja 4
612677           Akpororo Abuja 1
612678           I Go Dye Lagos 1
612679           I Go Dye Benin 1
612680           Seyi Law Lagos 2
612681            Gordons Lagos 2
612682            Gordons Abuja 4
612683     Klint De Drunk Enugu 2
612684        Klint De Drunk PH 1
612685     Klint De Drunk Lagos 1
612686    Klint De Drunk Warri 1
612687     Klint De Drunk Enugu 2
612688        Klint De Drunk PH 2
612689     Klint De Drunk Lagos 2
612690                 AY Lagos 3
612691                 AY Warri 2
612692               Bovi Abuja 4
612693           Akpororo Warri 2
612694           Akpororo Abuja 1
612695           I Go Dye Abuja 3
612696           Seyi Law Lagos 3
612697            Gordons Lagos 2
612698            Gordons Lagos 3
612699            Gordons Lagos 4
612700            Gordons Abuja 1
612701            Gordons Abuja 4
Name: Joke_identifier, Length: 612702, dtype: object

In [57]:
X.head()

  Viewers_ID         Joke_identifier                Response_ID
0         A1  Klint De Drunk Enugu 1  A1_Klint De Drunk Enugu 1
1         A1  Klint De Drunk Enugu 2  A1_Klint De Drunk Enugu 2
2         A1     Klint De Drunk PH 1     A1_Klint De Drunk PH 1
3         A1     Klint De Drunk PH 2     A1_Klint De Drunk PH 2
4         A1  Klint De Drunk Lagos 1  A1_Klint De Drunk Lagos 1

In [58]:
X['Viewers_ID']

0            A1
1            A1
2            A1
3            A1
4            A1
5            A1
6            A1
7            A1
8            A1
9            A1
10           A1
11           A1
12           A1
13           A1
14           A1
15           A1
16           A1
17           A1
18           A1
19           A1
20           A1
21           A1
22           A1
23           A1
24          A10
25          A10
26          A10
27          A10
28          A10
29          A10
          ...
612672    A9997
612673    A9997
612674    A9997
612675    A9997
612676    A9997
612677    A9997
612678    A9997
612679    A9997
612680    A9997
612681    A9997
612682    A9997
612683    A9998
612684    A9998
612685    A9998
612686    A9998
612687    A9999
612688    A9999
612689    A9999
612690    A9999
612691    A9999
612692    A9999
612693    A9999
612694    A9999
612695    A9999
612696    A9999
612697    A9999
612698    A9999
612699    A9999
612700    A9999
612701    A9999
Name: Viewers_ID, Length: 612702, dtype: object

In [59]:
x1 = X['Viewers_ID']
for i in range(7000):
    x1[i] = x1.iloc[i][1:]

In [60]:
x1[1]

'1'

In [61]:
x = X["Joke_identifier"]

In [62]:
for i in range (7000):
    a = x[i].split()
    a = a[0]
    x[i] = a

In [63]:
x

0                           Klint
1                           Klint
2                           Klint
3                           Klint
4                           Klint
5                           Klint
6                           Klint
7                           Klint
8                         AliBaba
9                         AliBaba
10                        AliBaba
11                        AliBaba
12                        AliBaba
13                        AliBaba
14                    BasketMouth
15                    BasketMouth
16                             AY
17                             AY
18                             AY
19                             AY
20                           Bovi
21                           Bovi
22                           Bovi
23                       Akpororo
24                          Klint
25                          Klint
26                          Klint
27                          Klint
28                          Klint
29                          Klint
                   ...
612672     Klint De Drunk Lagos 1
612673     Klint De Drunk Lagos 2
612674               AliBaba PH 2
612675                 AY Warri 1
612676               Bovi Abuja 4
612677           Akpororo Abuja 1
612678           I Go Dye Lagos 1
612679           I Go Dye Benin 1
612680           Seyi Law Lagos 2
612681            Gordons Lagos 2
612682            Gordons Abuja 4
612683     Klint De Drunk Enugu 2
612684        Klint De Drunk PH 1
612685     Klint De Drunk Lagos 1
612686    Klint De Drunk Warri 1
612687     Klint De Drunk Enugu 2
612688        Klint De Drunk PH 2
612689     Klint De Drunk Lagos 2
612690                 AY Lagos 3
612691                 AY Warri 2
612692               Bovi Abuja 4
612693           Akpororo Warri 2
612694           Akpororo Abuja 1
612695           I Go Dye Abuja 3
612696           Seyi Law Lagos 3
612697            Gordons Lagos 2
612698            Gordons Lagos 3
612699            Gordons Lagos 4
612700            Gordons Abuja 1
612701            Gordons Abuja 4
Name: Joke_identifier, Length: 612702, dtype: object

In [64]:
for i in range (7000):
    if "Klint" in x[i]:
        x[i] = 1
    elif "AliBaba" in x[i]:
        x[i] = 2
    elif "AY" in x[i]:
        x[i] = 3
    elif "BasketMouth" in x[i]:
        x[i] = 4
    elif "I" in x[i]:
        x[i] = 5  
    elif "Bovi" in x[i]:
        x[i] = 6
    elif "Akpororo" in x[i]:
        x[i] = 7
    elif "Seyi" in x[i]:
        x[i] = 8
    elif "Gordons" in x[i]:
        x[i] = 9
    else: x[i] = 10

In [65]:
x

0                               1
1                               1
2                               1
3                               1
4                               1
5                               1
6                               1
7                               1
8                               2
9                               2
10                              2
11                              2
12                              2
13                              2
14                              4
15                              4
16                              3
17                              3
18                              3
19                              3
20                              6
21                              6
22                              6
23                              7
24                              1
25                              1
26                              1
27                              1
28                              1
29                              1
                   ...
612672     Klint De Drunk Lagos 1
612673     Klint De Drunk Lagos 2
612674               AliBaba PH 2
612675                 AY Warri 1
612676               Bovi Abuja 4
612677           Akpororo Abuja 1
612678           I Go Dye Lagos 1
612679           I Go Dye Benin 1
612680           Seyi Law Lagos 2
612681            Gordons Lagos 2
612682            Gordons Abuja 4
612683     Klint De Drunk Enugu 2
612684        Klint De Drunk PH 1
612685     Klint De Drunk Lagos 1
612686    Klint De Drunk Warri 1
612687     Klint De Drunk Enugu 2
612688        Klint De Drunk PH 2
612689     Klint De Drunk Lagos 2
612690                 AY Lagos 3
612691                 AY Warri 2
612692               Bovi Abuja 4
612693           Akpororo Warri 2
612694           Akpororo Abuja 1
612695           I Go Dye Abuja 3
612696           Seyi Law Lagos 3
612697            Gordons Lagos 2
612698            Gordons Lagos 3
612699            Gordons Lagos 4
612700            Gordons Abuja 1
612701            Gordons Abuja 4
Name: Joke_identifier, Length: 612702, dtype: object

In [66]:
x2 = pd.read_csv("train.csv").iloc[:,1]

In [51]:
x2

0          Klint De Drunk Enugu 1
1          Klint De Drunk Enugu 2
2             Klint De Drunk PH 1
3             Klint De Drunk PH 2
4          Klint De Drunk Lagos 1
5          Klint De Drunk Lagos 2
6          Klint De Drunk Lagos 3
7         Klint De Drunk Warri 1
8                 AliBaba Lagos 2
9              AliBaba Aso Rock 2
10                AliBaba Abuja 2
11                   AliBaba PH 1
12                   AliBaba PH 4
13                   AliBaba PH 5
14            BasketMouth Lagos 1
15            BasketMouth Abuja 3
16                     AY Lagos 4
17                     AY Abuja 3
18                     AY Warri 1
19                     AY Warri 2
20                   Bovi Lagos 3
21                   Bovi Lagos 4
22                   Bovi Abuja 4
23               Akpororo Warri 2
24            Klint De Drunk PH 1
25            Klint De Drunk PH 2
26         Klint De Drunk Lagos 2
27         Klint De Drunk Lagos 3
28        Klint De Drunk Warri 1
29         Klint De Drunk Warri 2
                   ...
612672     Klint De Drunk Lagos 1
612673     Klint De Drunk Lagos 2
612674               AliBaba PH 2
612675                 AY Warri 1
612676               Bovi Abuja 4
612677           Akpororo Abuja 1
612678           I Go Dye Lagos 1
612679           I Go Dye Benin 1
612680           Seyi Law Lagos 2
612681            Gordons Lagos 2
612682            Gordons Abuja 4
612683     Klint De Drunk Enugu 2
612684        Klint De Drunk PH 1
612685     Klint De Drunk Lagos 1
612686    Klint De Drunk Warri 1
612687     Klint De Drunk Enugu 2
612688        Klint De Drunk PH 2
612689     Klint De Drunk Lagos 2
612690                 AY Lagos 3
612691                 AY Warri 2
612692               Bovi Abuja 4
612693           Akpororo Warri 2
612694           Akpororo Abuja 1
612695           I Go Dye Abuja 3
612696           Seyi Law Lagos 3
612697            Gordons Lagos 2
612698            Gordons Lagos 3
612699            Gordons Lagos 4
612700            Gordons Abuja 1
612701            Gordons Abuja 4
Name: Joke_identifier, Length: 612702, dtype: object

In [67]:
for i in range (7000):
    a = x2[i].split()
    a = a[-2]
    x2[i] = a

In [53]:
x2

0                           Enugu
1                           Enugu
2                              PH
3                              PH
4                           Lagos
5                           Lagos
6                           Lagos
7                           Warri
8                           Lagos
9                            Rock
10                          Abuja
11                             PH
12                             PH
13                             PH
14                          Lagos
15                          Abuja
16                          Lagos
17                          Abuja
18                          Warri
19                          Warri
20                          Lagos
21                          Lagos
22                          Abuja
23                          Warri
24                             PH
25                             PH
26                          Lagos
27                          Lagos
28                          Warri
29                          Warri
                   ...
612672     Klint De Drunk Lagos 1
612673     Klint De Drunk Lagos 2
612674               AliBaba PH 2
612675                 AY Warri 1
612676               Bovi Abuja 4
612677           Akpororo Abuja 1
612678           I Go Dye Lagos 1
612679           I Go Dye Benin 1
612680           Seyi Law Lagos 2
612681            Gordons Lagos 2
612682            Gordons Abuja 4
612683     Klint De Drunk Enugu 2
612684        Klint De Drunk PH 1
612685     Klint De Drunk Lagos 1
612686    Klint De Drunk Warri 1
612687     Klint De Drunk Enugu 2
612688        Klint De Drunk PH 2
612689     Klint De Drunk Lagos 2
612690                 AY Lagos 3
612691                 AY Warri 2
612692               Bovi Abuja 4
612693           Akpororo Warri 2
612694           Akpororo Abuja 1
612695           I Go Dye Abuja 3
612696           Seyi Law Lagos 3
612697            Gordons Lagos 2
612698            Gordons Lagos 3
612699            Gordons Lagos 4
612700            Gordons Abuja 1
612701            Gordons Abuja 4
Name: Joke_identifier, Length: 612702, dtype: object

In [68]:
for i in range (7000):
    if "Enugu" in x2[i]:
        x2[i] = 1
    elif "PH" in x2[i]:
        x2[i] = 2
    elif "Lagos" in x2[i]:
        x2[i] = 3
    elif "Warri" in x2[i]:
        x2[i] = 4
    elif "AsoRock" in x2[i]:
        x2[i] = 5  
    elif "Abuja" in x2[i]:
        x2[i] = 6
    elif "Owerri" in x2[i]:
        x2[i] = 7
    elif "Benin" in x2[i]:
        x2[i] = 8
    elif "Uyo" in x2[i]:
        x2[i] = 9
    else: x2[i] = 10

In [55]:
x2

0                               1
1                               1
2                               2
3                               2
4                               3
5                               3
6                               3
7                               4
8                               3
9                              10
10                              6
11                              2
12                              2
13                              2
14                              3
15                              6
16                              3
17                              6
18                              4
19                              4
20                              3
21                              3
22                              6
23                              4
24                              2
25                              2
26                              3
27                              3
28                              4
29                              4
                   ...
612672     Klint De Drunk Lagos 1
612673     Klint De Drunk Lagos 2
612674               AliBaba PH 2
612675                 AY Warri 1
612676               Bovi Abuja 4
612677           Akpororo Abuja 1
612678           I Go Dye Lagos 1
612679           I Go Dye Benin 1
612680           Seyi Law Lagos 2
612681            Gordons Lagos 2
612682            Gordons Abuja 4
612683     Klint De Drunk Enugu 2
612684        Klint De Drunk PH 1
612685     Klint De Drunk Lagos 1
612686    Klint De Drunk Warri 1
612687     Klint De Drunk Enugu 2
612688        Klint De Drunk PH 2
612689     Klint De Drunk Lagos 2
612690                 AY Lagos 3
612691                 AY Warri 2
612692               Bovi Abuja 4
612693           Akpororo Warri 2
612694           Akpororo Abuja 1
612695           I Go Dye Abuja 3
612696           Seyi Law Lagos 3
612697            Gordons Lagos 2
612698            Gordons Lagos 3
612699            Gordons Lagos 4
612700            Gordons Abuja 1
612701            Gordons Abuja 4
Name: Joke_identifier, Length: 612702, dtype: object

In [70]:
import seaborn as sns

In [72]:
sns.set_style("white")

In [73]:
%matplotlib inline

In [74]:
x.head

<bound method NDFrame.head of 0                               1
1                               1
2                               1
3                               1
4                               1
5                               1
6                               1
7                               1
8                               2
9                               2
10                              2
11                              2
12                              2
13                              2
14                              4
15                              4
16                              3
17                              3
18                              3
19                              3
20                              6
21                              6
22                              6
23                              7
24                              1
25                              1
26                              1
27                              1
28                              1
29                              1
                   ...
612672     Klint De Drunk Lagos 1
612673     Klint De Drunk Lagos 2
612674               AliBaba PH 2
612675                 AY Warri 1
612676               Bovi Abuja 4
612677           Akpororo Abuja 1
612678           I Go Dye Lagos 1
612679           I Go Dye Benin 1
612680           Seyi Law Lagos 2
612681            Gordons Lagos 2
612682            Gordons Abuja 4
612683     Klint De Drunk Enugu 2
612684        Klint De Drunk PH 1
612685     Klint De Drunk Lagos 1
612686    Klint De Drunk Warri 1
612687     Klint De Drunk Enugu 2
612688        Klint De Drunk PH 2
612689     Klint De Drunk Lagos 2
612690                 AY Lagos 3
612691                 AY Warri 2
612692               Bovi Abuja 4
612693           Akpororo Warri 2
612694           Akpororo Abuja 1
612695           I Go Dye Abuja 3
612696           Seyi Law Lagos 3
612697            Gordons Lagos 2
612698            Gordons Lagos 3
612699            Gordons Lagos 4
612700            Gordons Abuja 1
612701            Gordons Abuja 4
Name: Joke_identifier, Length: 612702, dtype: object>

In [84]:
x = 0 - 7000

In [87]:
X.groupby ("x") ["Rating"].mean()

TypeError: string indices must be integers

In [89]:
sns.jointplot(X="Rating", y="num of Rating", data = Rating,alpha=0.2)

NameError: name 'Rating' is not defined